@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat/Montserrat-Bold.ttf);
}
html, body{
    margin: 0;
    padding: 0;
}
.background{
    background-color: #000000;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
#card-grid{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px; 
    column-gap: 10px;
    row-gap: 10px;
    margin-left: 34em;

}
#card-grid div{
    background-color: #1B1D20;
    border-radius: 5px;
    color: whitesmoke;
    text-align: center;
    font-size:xx-large;
    padding-top: 25px;
}
button{
    margin-left: 52em;
    background-color: whitesmoke;
    width: 10em;
    height: 4em;
    font-family: Montserrat-Bold;
    border-radius: 15px;
}
p{
    color: whitesmoke;
    margin-left: 40em;
}